# python==3.12
django==5.*
pyyaml==6.*
pydantic==2.*
# psycopg2-binary>=2.9.9,<3.0
gunicorn==22.*
markdown2==2.*
python-dotenv==0.*
beautifulsoup4
django_light
requests==2.*
requests_mock==1.*
sentry-sdk==2.*
bioblend==1.*
django-crispy-forms==2.*
crispy-bootstrap5==2024.*
