#!/usr/bin/env bash

# Update Galaxy Media Site

set -e

# Make sure this isn't being run as root
if [[ $EUID = 0 ]]; then
    echo "Switching to ubuntu user"
    sudo su ubuntu
fi

cd galaxy-labs-engine
git pull

docker compose run labs_engine \
    python manage.py collectstatic --noinput

docker compose run labs_engine \
    python manage.py migrate

# Update file ownership to allow www-data to write logs/media
sudo chown -R www-data:www-data app/logs
sudo chown -R www-data:www-data app/media

sudo service labs_engine restart

echo ""
echo "~~~ Restarted Galaxy Labs Engine ~~~"
echo ""
