<section class="my-5">
  <h4 class="mb-3">Cite this Lab</h4>
  <ol class="lab-references">
    <li>
      Hyde, C. J., Syme, A., Batut, B., Zierep, P. F., Mok, W., Bacon, W. A., & Price, G. R. (2026). <em>Community-curated galaxy interfaces with the galaxy labs engine.</em> GigaScience, giag041.
      <a href="https://doi.org/10.1093/gigascience/giag041">10.1093/gigascience/giag041</a>
    </li>
    {% for citation in citations %}
    <li>{{ citation.formatted|safe }}</li>
    {% endfor %}
  </ol>
</section>
