{% extends 'labs/header.html' %}
{% load markdown %}

{% comment %}
  This template renders a generic Galaxy Lab landing page based on externally
  hosted content (e.g. sections, tools, workflows, etc).
{% endcomment %}

{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'labs/css/labs.css' %}">

<style>
  {{ snippets.custom_css|default:"" }}
</style>

{% endblock %}


{% block content %}

<main>

  {% include 'labs/components/gtn-modal.html' %}

  <section id="headerSection" class="lab-header d-flex align-items-center h-100">
    {% if snippets.header_logo %}
    <img id="header-logo" src="{{ snippets.header_logo }}" alt="{{ site_name }} Logo">
    {% endif %}
    {{ lab_name|upper }}
  </section>

  {% if snippets.intro_md %}
  {{ snippets.intro_md|safe }}
  {% endif %}

  {% for section in sections %}
    {% include 'labs/components/section.html' with section=section %}
  {% endfor %}

  {% if snippets.conclusion_md %}
  {{ snippets.conclusion_md|markdown }}
  {% endif %}

  {% if contributors %}
  {% include 'labs/components/contributors.html' %}
  {% endif %}

</main>


{% if feedback_email %}
{% include 'labs/components/feedback-modal.html' %}
{% endif %}


{% if snippets.footer_md %}
{{ snippets.footer_md|markdown }}
{% endif %}

{% endblock %}


{% block script %}
{% endblock %}


{% block onload %}
  // Ensure that links open in new tab if external
  $('a').each( (i, item) => {
    if (
      item.href
      && item.pathname.slice(0, 1) !== "/"
    ) {
      if (item.href.includes("{{ galaxy_base_url }}")) {
        item.target = '_top';
      } else {
        item.target = '_blank';
      }
    }
  });
{% endblock %}
